<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
  <a [routerLink]="[{ outlets: { test1: ['about'] }}]">
    About
  </a>
  |
	<a [routerLink]="['/github', {'org': 'angular'}]">
    Github Repos
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
  |
  <a [routerLink]="['/form1']">
    Template Driven Forms
  </a>
  |
  <a [routerLink]="['/form2']">
    Reactive Forms
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
  <router-outlet name="test1"></router-outlet>
</main>
